{% extends 'store/main.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            margin-top: 0;
            margin-bottom: 20px;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        select {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: #fff;
        }

        button[type="submit"] {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

<div class="container">
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        {{ form.username }}
        <label for="id_email">Email:</label>
        {{ form.email }}
        <label for="id_password1">Password:</label>
        {{ form.password1 }}
        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}
        <label for="id_role">Role:</label>
        <select name="role" id="id_role">
            <option value="consumer">Consumer</option>
            <option value="seller">Seller</option>
            <option value="admin">Admin</option>
        </select>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
